<ion-header>
  <ion-navbar hideBackButton="true">
    <div class="desk-back desk-back1"></div>
    <!-- <div class="desk-back desk-back2" *ngIf="items=='bb'"></div> -->
    <div class="header">
      <button ion-button clear item-end class="back_btn" left (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon>Back</button>
      <button ion-button clear item-end class="back_btn create"><ion-icon name="ios-more"></ion-icon></button>
    </div>


  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="inbox1">
    <h1>NIke Improves Health</h1>
    <p class="date">Auguest 7, 2017</p>
    <p>Nike is the Bomb. And it has also proven to help cure everythin from the following:</p>
    <ul>
      <li>Asthma</li>
      <li>Obesity</li>
      <li>Cancer</li>
    </ul>
    <p>What's Next?</p>
    <p>Learn more about how Nike can bring your blood presure down and your tstosterone levels up <span class="link">nike.com/myid</span></p>
  </div>

  <!-- <div class="inbox2" *ngIf="items=='bb'">
    <h1>Type 2 Diabetes cure!</h1>
    <p class="date">July 7, 2017</p>
    <p>Insomnia is a very common complaint among older adults. The condition affects more than 70 million Americans.</p>
    <ol>
      <li>Keep a regular sleep schedule</li>
      <li>exercise regulary but avoid exercise before bed</li>
      <li>go to bed when sleepy</li>
      <li>do relaxing and enjoyable activities befor bed</li>
    </ol>

  </div> -->


</ion-content>
