page-vital-edit {

.name-grid {
  background: #fff;
  // border-bottom: 2px solid #e4e4e4;
  padding: 0px;
  padding-left: 10px;
  /* margin-left: 3px; */
  .name-row{
    border-bottom: 2px solid #e4e4e4;
    .label {
      font-size: 16px;
      margin: 13px 8px 13px 0;
      color: #676a6c;
  }
   sup {
    color: red;
    font-weight: 900;
  }
  .searchbar-ios {
        background: rgba(0, 0, 0, 0)!important;
    }
  .searchbar-input {
    padding: 7px 46px 2px 3px;
    border-radius: 2px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #141414;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 #fff, 0 3px 1px -2px #fff, 0 1px 5px 0 #fff;
    box-shadow: 0 2px 2px 0 #fff, 0 3px 1px -2px #fff, 0 1px 5px 0 #fff;
    text-align: right;
  }
  .searchbar-search-icon {
    display: none;
}
ion-auto-complete {
  width: 100%;
}

  }
}

  .toolbar2{
    .toolbar-background{
      background: $start-green; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient($start-green, $end-green); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient($start-green, $end-green); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient($start-green, $end-green); /* For Firefox 3.6 to 15 */
      background: linear-gradient($start-green, $end-green); /* Standard syntax (must be last) */
    }
  }

  .bg-clr{
      background-color: #e8e8e8;
  }

  .portfolio{

    background-color: #e8e8e8;

    .data{
      .item-block{
        height: 55px;
        .label{
          color: #404040;
          span{
            font-size: 12px;
            color: #818181;
          }
        }
        sup{
          color: #FF3B30;
          font-weight: 900;
        }
        input{
          text-align: right;
          font-size: 20px;
          color: $font-color;
        }
      }
    }
    .select{
      button{
        background-color: transparent;
      }
    }
    .option-val {
      white-space: nowrap;
      overflow: hidden;
      color: $font-color;
      p {
        font-size: 20px;
        color: $font-color;
      }
    }
    .note-rgn {
        height: 150px;
        padding: 12px;
        border-bottom: 0.55px solid #c8c7cc;
        background: gray;
      textarea {
        width: 100%;
        border: 1px solid #c8c7cc;
        border-radius: 9px;
        font-size: 16px;
        padding: 6px;
      }

      .note-buttons {
        width: 100%;
        text-align: right;
        button {
          width: 72px;
          border-color: #f4f4f4;
          color: #f4f4f4;
          background-color: transparent;
        }
      }
    }

  }

  .attach_list{
    margin-bottom: 15px;
    .file_name{
      color: $font-color;
      font-size: 18px;
    }
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .attach{
    padding: 0;
    text-align: center;
    border-top: 1px solid #c8c7cc;
    height: 55px;
    color: $start-green;
    font-size: 18px;
    .icon{
      line-height: 43px;
      font-size: 25px;
      position: absolute;
      margin-left: -20px;
      margin-top: -10px;
      font-size: 30px;
    }
    .label{
      margin-left: 20px;
    }
  }

  .public{
    margin-top: 30px;
    border-top: 1px solid #c8c7cc;
    .item-block{
      height: 55px;
      .label{
        color: $font-color;
        font-size: 18px;
      }
    }
  }

  .delete{
    background-color: #fff;
    color: red;
    border-color: #c8c7cc;
  }

}
