page-preview-profile {
  .main-view{
    background: transparent;
  }
  .overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .5;
    background-color: #333;
  }
  .modal_content {
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    padding: 10px;
    z-index: 100;
    margin: 0 auto;
    padding: 0px;
    color: #333;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #fff 100%);
    background: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;

    .title
    {
      font-size: 24px;
      text-align: center;
      height: 100px;
      line-height: 35px;
      padding: 20px 40px;
      background-color: #e8e8e8;
      font-weight: 500;
    }
    .category{
      width: 50%;
      float: left;
      padding: 0;
        .item-inner{
          padding: 0;
        }
        .label{
          margin: 10px;
        }
        img{
          height: 90px;
          margin: 0 auto;
          display: block;
          margin-top: 25px;
          border-radius: 50%;
          border: 1px solid #fff;
          box-shadow: 0px 1px 11px black;
        }
        p{
          text-align: center;
          font-size: 16px;
          color: #545454;
          padding-top: 10px;
          margin-bottom: 15px;
        }

    }
    .cancel{
      top: 10px;
      margin-bottom: 15px;
      font-size: 22px;
    }

    .item-block:nth-child(2n+1){
      border-left: 0.55px solid #c8c7cc;
      border-right: 0.55px solid #c8c7cc;
    }
    .item-block:nth-child(2n){
      border-right: 0.55px solid #c8c7cc;
    }
    .item-block:first-child, .item-block:nth-child(2){
      border-top: 0.55px solid #c8c7cc !important;
    }
  }
}
