<ion-header>
  <ion-navbar hideBackButton="true" [ngClass]="{'toolbar1':edit, 'toolbar2': save}">
    <button ion-button clear item-end class="back_btn left-btn" left (click)="dismiss()">Cancel</button>
    <ion-title *ngIf="save" class="title">New Surgery</ion-title>
    <ion-title *ngIf="!save" class="title">Surgery</ion-title>
    <button *ngIf="save" ion-button clear item-end class="create right-btn"  [disabled]="!surgeriesForm.valid" (click)="createSurgeriesData()"><ion-icon name="md-checkmark"></ion-icon>Save</button>
    <button *ngIf="!save" ion-button clear item-end class="create right-btn"  [disabled]="!surgeriesForm.valid"  (click)="updateSurgeriesData()"><ion-icon name="md-checkmark"></ion-icon>Save</button>
    <div class="header-title">
        <img src="assets/icon/white/surgeon.png" alt="">
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="portfolio">
    <form [formGroup]="surgeriesForm">

    <ion-list class="data">

      <ion-item>
        <ion-label>Name<sup>*</sup></ion-label>
        <ion-input type="text" placeholder="–" formControlName="name" [(ngModel)]="surgeriesData.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Surgeon Name<sup>*</sup></ion-label>
        <ion-select [(ngModel)]="surgeriesData.surgeon_name" formControlName="surgeon_name"  (ionChange)="onSelectChange(surgeriesData.surgeon_name)" class="select_txt">
          <ion-option value="" selected>Select</ion-option>
          <ion-option *ngFor="let item of physicianData" [value]="item.name">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Surgeon Phone<sup>*</sup></ion-label>
        <ion-input type="number" placeholder="–" formControlName="surgeon_phone" [(ngModel)]="surgeriesData.surgeon_phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Date of Operation</ion-label>
        <ion-datetime style="color: #515355;" formControlName="operation_date" displayFormat="MM/DD/YYYY" min="1900-11-01" max="2030-12-31" pickerFormat="MM/DD/YYYY" [(ngModel)]="surgeriesData.operation_date"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Status<sup>*</sup></ion-label>
        <ion-select [(ngModel)]="surgeriesData.status"  formControlName="status" style="color: #515355;">
          <ion-option value="" selected>Select</ion-option>
          <ion-option *ngFor="let item of status" [value]="item.value">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <!-- Attach File List -->
    <ion-list class="attach_list">

      <ion-item-sliding *ngFor="let item of surgeriesData.attach_file_urls; let i = index;" (click)="onClickItem(item.file_url)">

        <ion-item>
            <ion-icon name="ios-images-outline" item-start></ion-icon>
            <p class="file_name">{{item.file_name}}</p>
            <ion-icon name="ios-arrow-dropright-outline" item-end></ion-icon>
        </ion-item>

        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteItem(i)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>

    <input type="file" name="file" id="file" class="inputfile" (change)="fileEvent($event)"/>

    <label for="file" ion-item class="attach">
      <ion-icon name="attach"></ion-icon>
      <span>Attach Document</span>
    </label>

    <ion-list class="public">
      <ion-item>
        <ion-label>Visible on public profile?</ion-label>
        <ion-toggle [(ngModel)]="surgeriesData.visible" formControlName="is_private"></ion-toggle>
      </ion-item>
    </ion-list>

    <button *ngIf="!save" ion-button class="delete" outline full large (click)="deleteAlert()">Delete Suregery</button>
  </form>

</ion-content>
