page-share-document {
  .toolbar-background{
    background: $start-blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($start-blue, $end-blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($start-blue, $end-blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($start-blue, $end-blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient($start-blue, $end-blue);
  }
  .cancel{
    width: 80px;
    right: 0;
    position: absolute;
    top: 0;
    height: 35px;
    color: #fff;
  }

  .list_view{
    background-color: #fff;
    padding-top: 30px;
  .item-block{
    height: 55px;
    background-color: transparent;
    padding: 0 5px 0 15px;
    .label{
      font-size: 17px;
      color: #2f2f2f;
      font-weight: 500;
      font-size: 18px;
    }
    .input {
      input{
        text-align: right;
        font-size: 20px;
        color: #4a4a4a;
        }
      }
    }
  }
}
