page-popover {
    .header{
      background-color: #008ecf;
      color: white;
      font-size: 16px;
    }

    .inputfile {
    	width: 0.1px;
    	height: 0.1px;
    	opacity: 0;
    	overflow: hidden;
    	position: absolute;
    	z-index: -1;
    }
    .popover-list{
      width: 100vw;
      margin: 0;

      button{
        font-size: 18px;
        color: #488aff;
      }
      label{
        font-size: 18px;
        color: #488aff;
      }
    }
}
