
<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button clear item-end class="back_btn left-btn" left (click)="closePage()"><ion-icon name="arrow-back"></ion-icon>Back</button>
    <ion-title class="title">
      <img src="assets/image/main_logo.png" alt="" class="logo">
    </ion-title>
    <button ion-button clear item-end class="create right-btn circle-add-btn" (click)="createImmunizationsData()"><ion-icon name="md-add"></ion-icon></button>
    <div class="header-title">
      <div class="profile_img">
        <img *ngIf="!imagePath" src="assets/icon/gray/user-circle1.png" alt="">
        <img *ngIf="imagePath" [src]="imagePath" alt="">
      </div>
      <p class="view_title">Immunizations</p>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshingText="Refreshing...">
      </ion-refresher-content>
  </ion-refresher>

  <div class="">

    <ion-card class="data-list" *ngFor="let item of immunizationsData" >
      <ion-item (click)="editImmunizationsData($event, item.id)">
          <ion-row>
              <ion-col col-12 style="color: #989CA0;" >Name</ion-col>
              <custom-name [realName]="item.name"></custom-name>
              <!-- <ion-col col-12 class="data-des">{{item.name}}</ion-col> -->
          </ion-row>

      </ion-item>
      <button ion-button clear item-end class="sheet-btn"><ion-icon name="md-more"></ion-icon></button>
    </ion-card>

  </div>
</ion-content>
